.countryListContainer {
  position: absolute;
  z-index: 500;
  height: 100%;
}

.countryList {
  width: 320px;
  height: 100%;
}

.table {
  margin-bottom: 0;
  height: calc(100% - 25px);
}

.tableContainer {
  display: block;
  overflow-y: scroll;
  height: calc(100vh - 85px);
}

thead {
  height: 60px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.icon {
  color: white;
  pointer-events: none;
}

.hideArea {
  height: 25px;
  background: rgb(69, 77, 85);
  text-align: right;
  bottom: 0;
}

.hideButton {
  height: 100%;
  width: 10%;
}

.showArea {
  height: 25px;
  width: 25px;
  background: rgb(69, 77, 85);
  z-index: 500;
  position: absolute;
  bottom: 0;
}

.showButton {
  height: 100%;
  width: 100%;
}
