.countryList {
  width: 314px;
}

table tbody {
  display: block;
  overflow-y: scroll;
  height: 90vh;
}

thead {
  height: 5vh;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.icon {
  color: white;
  pointer-events: none;
}

.hideArea {
  height: 5vh;
}

.hideButton {
  right: 0%;
}

.hideIcon {
  
}
