.countryListContainer {
  position: absolute;
  z-index: 500;
  height: 100%;
}

.countryList {
  width: 320px;
  height: 100%;
}

.table {
  margin-bottom: 0;
}

table tbody {
  display: block;
  overflow-y: scroll;
  height: 92vh;
}

thead {
  height: 5vh;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

.icon {
  color: white;
  pointer-events: none;
}

.hideArea {
  height: 3vh;
  background: rgb(69, 77, 85);
  text-align: right;
  bottom: 0;
}

.hideButton {
  height: 100%;
  width: 10%;
}

.showArea {
  height: 3vh;
  width: 3vh;
  background: rgb(69, 77, 85);
  z-index: 500;
  position: absolute;
  bottom: 0;
}

.showButton {
  height: 100%;
  width: 100%;
}

.leaflet-top {
  visibility: hidden;
}
