.CountryList {
  width: 17%;
}

table {
  width: 100%;
}

table tbody {
  display: block;
  overflow-y: scroll;
  max-height: 100vh;
}

thead {
  overflow-y: scroll;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

button {
  border:none;
  background-color: Transparent;
  outline:none;
}