.infoBox {
  text-align: left;
  padding: 0.75rem;
  background: rgba(20, 23, 25, 0.5);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  width: 338px;
  top: 1.5%;
  right: 1.5%;
  z-index: 500;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
}

h4 {
  text-align: center;
}

.totalLine {
  font-size: 16px;
}

.bar {
  height: 10px;
  width: 98%;
  display: flex;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.slice {
  border-radius: 0.15rem;
}

.infoLine {
  width: 100%;
  float: left;
}

.circle {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  border-radius: 50%;
  float: left;
}

.infoLineText {
  width: 45%;
  font-size: 14px;
  margin-left: 6px;
  float: left;
}

.infoLineData {
  font-size: 14px;
  float: left;
}

.percentageLine {
  width: 100%;
  float: left;
  font-size: 13px;
}

.red {
  background: rgb(255, 64, 0);
}

.green {
  background: rgb(96, 187, 105);
}

.black {
  background: rgb(0, 0, 0);
}

.slice,
.red,
.green {
  margin-right: 2px;
}
